body {
    background-color: lightgray;
}

h1 {
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
}

h3 {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}